* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
}

html[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
}

.container {
  border: 1px solid black;

  width: 480px;
  height: 100dvh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  & > * {
    padding: 8px;
  }

  header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;

    border-bottom: 1px solid gainsboro;
  }

  .main-content {
    flex-grow: 1;

    overflow-y: auto;
    overflow-x: hidden;

    .content-wrapper {
      & > * {
        margin: 12px 0;
      }
    }

    #setting-page {
      .setting-item {
        & > * {
          margin: 8px 0;
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;

    border-top: 1px solid gainsboro;

    nav {
      width: 100%;

      ul {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: inherit;

            padding: 8px;
            border-radius: 10px;
          }

          a.active {
            background-color: cornflowerblue;
          }
        }
      }
    }
  }

  /* @media screen and (max-width: 480px) {
    width: 480px;
    margin: 0 auto;
  } */
}
